


     <!-- Download Section -->
     <section id="contact" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2" style="text-align: left;margin-left: auto;">
                    <h2>Contact</h2>
                    <p>Me contacter par mail ou bien par linkedin.</p>
                    <p>mail : <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                    <p>mail étudiant : <a href="mailto:{{ site.emailent }}">{{ site.emailent }}</a>
                    </p>
                    <ul class="list-inline banner-social-buttons">
                        {% for network in site.social %}
                        <li>
                            <a target="_blank" href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>