    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="brand-heading" style="font-size: 60px;">GUIMETY Sebastien</h3>
                        <p class="intro-text">Bienvenu sur mon Portfolio.<br>
                        <p>Etudiant en Licence Informatique à l'Université d'Avignon et des pays du Vaucluse, au CERI - Centre d'Enseignement et de Recherche en Informatique</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
